# Cache directories
__pycache__/

# Directories
logs/
test-capturing/

# Misc.
misc/
.vscode/
venv/
.env

# Kismet files
*.kismet*

# Response files
nearby_channels.json
obfuscated-data.json
debug_ap-filtered-list.json
recentActive_nearby_list.json