# Cache directories
__pycache__/

# Logs
logs/

# Misc.
misc/
.vscode/
.env
venv/
test-capturing/

# Kismet files
*.kismet*

# Response files
obfuscated-data.json
nearby_channels.json
debug_ap-filtered-list.json
recentActive_nearby_list.json